/* Icons */
$update-dot: url('../assets/images/icons/update.png');
$lang-icon: url('../assets/images/icons/lang.png');

/* Background */
$background-page: url('../assets/images/backgrounds/page.png');
$background-page-break: url('../assets/images/backgrounds/page-break.png');
$background-notifications: url('../assets/images/backgrounds/notifications.png');
$background-topbar: url('../assets/images/backgrounds/topbar.png');
$background-head: url('../assets/images/buttons/head.png');
$background-bushbar: url('../assets/images/backgrounds/bushbar.png');

/* Page headers */
$header-stats: url('../assets/images/backgrounds/header-stats.png');
$header-achievements: url('../assets/images/backgrounds/header-achievements.png');
$header-information: url('../assets/images/backgrounds/header-information.png');
$header-updates: url('../assets/images/backgrounds/header-updates.png');

/* Borders */
$border-page: url('../assets/images/backgrounds/border-page.png');
$border-notification: url('../assets/images/backgrounds/border-notification.png');
$border-tooltip: url('../assets/images/backgrounds/border-tooltip.png');

/* Flags */
$flags: url('../assets/images/icons/flags.png');

/* Buttons */
$button-head: url('../assets/images/buttons/head.png');
$button-option: url('../assets/images/buttons/option.png');
$button-setting: url('../assets/images/buttons/setting.png');
$button-warning: url('../assets/images/buttons/warning.png');
$button-close: url('../assets/images/buttons/close.png');
$button-volume: url('../assets/images/buttons/volume.png');
$button-settings: url('../assets/images/buttons/settings.png');
$button-shop: url('../assets/images/buttons/shop.png');

/* Achievements */
$questionMarks: url('../assets/images/icons/question-marks.png');
$specialAchievements: url('../assets/images/icons/special-achievements.png');
$normalAchievements: url('../assets/images/icons/normal-achievements.png');

/* Buildings */
$buildings: url('../assets/images/icons/buildings.png');

/* Slimes */
$slimes: url('../assets/images/icons/slimes.png');

/* Blorbs */
$blorbs: url('../assets/images/icons/blorbs.png');

/* IA Backgrounds */
$ia-default:  url('../assets/images/backgrounds/ia/default.jpg');