@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'RobotoBold';
    src: url('../assets/fonts/Roboto-Bold.ttf');
}

@font-face {
    font-family: 'AlegreyaSans';
    src: url('../assets/fonts/AlegreyaSans-Regular.ttf');
}

@font-face {
    font-family: 'AlegreyaSansBold';
    src: url('../assets/fonts/AlegreyaSans-Bold.ttf');
}

@font-face {
    font-family: 'UbuntuMono';
    src: url('../assets/fonts/UbuntuMono-Regular.ttf');
}

@font-face {
    font-family: 'UbuntuMonoBold';
    src: url('../assets/fonts/UbuntuMono-Bold.ttf');
}